<div class="container">
  <div class="row">

<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book do |f| %>
  <label for="inputName">Title</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <br>
  <label for="inputImage">ProfileImage</label><br>
  <%= f.file_field :book_image, placeholder: "Image", accept: "image/*" %>
  <br>
  <p>Opinion</p>
  
  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to "Show", book_path %>
|
<%= link_to "Back", books_path %>
</div>

  </div>
</div>