<br>
<div>
  <%= flash[:notice] %>
</div>
<table>
  <tbody>
     <tr>Title:<%= @book.title %></tr>
     <br>
     <tr>Body:<%= @book.body %></tr>
     <br>
     <tr><%= link_to "Edit", edit_book_path(@book.id) %>|
     <%= link_to "Beck", books_path %></tr>
  </tbody>
</table>